@{
	ViewData["Title"] = "About us";
}
<link rel="stylesheet" href="~/css/info.css" />

<main>
	<div class="container">
		<div class="info-box">
			<div class="picture">
				<img src="~/src/BigOpen.png" alt="Big Open">
			</div>
			<div class="info-text">
				<p>
					Our beginnings start in 1960. Every day, homeless Mr. Colonel Rubisher was researching nearby
					bins, because on Krakow's streets he knew that there is a lot of gourmet food.
					One day it dawned on him and he decided to start a restaurant with food from rubbish.
					First he had to collect enough money to rent a premises. He was asking all Kierownik's
					about 2 zlote. This is how the first FreeGantz restaurant was established.
				</p>
			</div>
		</div>
		<div class="info-box">
			<div class="picture">
				<img src="~/src/Kitchen.jpg" alt="Kitchen">
			</div>
			<div class="info-text">
				<p>
					Now, we use the best bins from our district. We wish to give you, what is the nearest your heart.
					Everyday at 5AM our researchers start finding the best nooks from our neighborhood,
					so that you can enjoy our dishes. Join us and let your bin lose a weight.
				</p>
			</div>
		</div>
		<div class="info-box">
			<div class="picture">
				<img src="~/src/TheBestOf.jpg" alt="The best of">
			</div>
			<div class="info-text">
				<p>
					Our 100 restaurants bring our planet closer to producing less waste.
					<b>'Recycling makes you better' </b> is our slogan.
					Let us get infected with positive energy and try the new bucket of the day
					or the fruit bucket of the homeless.
				</p>
			</div>
		</div>
	</div>
</main>
