@{
	ViewData["Title"] = "Menu";
}
<link rel="stylesheet" href="~/css/menu.css" />
        <main id="food-menu">
            <div class="container">
                <div id="food-menu_holder">
                    <div id="food-menu_box">
                        <h2>Menu:</h2>
                        <ul>
                            <li>

                                <div class="tooltip">
                                    <p>Kubeł dnia</p>
                                    <p>149.99zł</p>
                                    <span class="tooltiptext">
                                        <p>-French croissant le'oui'</p>

                                        <p>-Non-Russian caviar</p>

                                        <p>-Sausages "Bullio"</p>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="tooltip">
                                    <p>Ścinki tygodnia</p>
                                    <p>249.99zł</p>
                                    <span class="tooltiptext">
                                        <p>-Italian ham poi poi</p>

                                        <p>-Scraps of Japanese beef bumbum</p>

                                        <p>-Selected boletus pieces</p>
                                    </span>
                                </div>

                            </li>
                            <li>
                                <div class="tooltip">
                                    <p>Owocowy Kubełek bezdomnego</p>
                                    <p>249.99zł</p>

                                    <span class="tooltiptext">
                                        <p>-Croatian grapes</p>

                                        <p>-Italian sweet tomatoes</p>

                                        <p>-Japanese seafood</p>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="tooltip">
                                    <p>Śląskie śćiepy</p>
                                    <p>229.99zł</p>

                                    <span class="tooltiptext">
                                        <p>-Roasted wushty</p>

                                        <p>-Modro cabbage</p>

                                        <p>-Vodzionka</p>
                                    </span>
                                </div>
                            </li>
                            <li>
                                <div class="tooltip">
                                    <p>Czernice z Jarzyniaka</p>
                                    <p>189.99zł</p>
                                    <span class="tooltiptext">
                                        <p>-Czernice</p>

                                        <p>-Sweet starters</p>

                                        <p>-Kaiser roll from tesco</p>
                                    </span>
                                </div>
                            </li>

                        </ul>
                </div>
                    </div>
                </div>
</main>