:root {
    --footer-height: 30px;
    --font-color: #241F21;
    --font-size: 14px;
    --background-color: #F8F8EF;
    --header-background-color: #97BCC7;
    --footer-background-color: #97BCC7;
}
