@{
	ViewData["Title"] = "Not found";
}
<link rel="stylesheet" href="~/css/404.css" />

<main id="fourOfour">
    <div class="container">
        <div id="mainBody">
            <h1>404</h1>
            <div id="picture">
                <img src="~/src/emptyBin.jpg" alt="Empty bin">
            </div>
            <h1>There is nothing here</h1>
        </div>
    </div>
</main>