
<link rel="stylesheet" href="~/css/booking.css" />

<div class="NotAvailableTable">
    <h1>It's not possible. Change number of guests or date.</h1>
	<a button type="submit" class="button-18" asp-controller="Home" asp-action="Booking">Go back to booking page</a>
</div>


